{% extends "layout.html" %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'logic.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">





<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');


    body {
        background-color: #d4e9e2;
    }
    .container {
        width: 90%; 
        margin: auto; 
        margin-top: 50px;
        text-align: left; 
    }
    
    .lessonTitle {
        padding-top: 40px;
        font-family: 'Roboto';
        padding-bottom: 10px;
    }
    .accordion {
            background-color: #eee;
            font-family: 'Roboto';
          
            font-size: 17px;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            transition: 0.4s;
            margin-top: 10px; 
            border-radius: 5px; 
        }

      
        .accordion:hover {
            background-color: #ccc;
        }

      
        .panel {
            background-color: #d4e9e2;
            padding-top: 10px;
            font-family: 'Poppins';
            font-weight: 200;
            font-size: 15px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            margin-bottom: 10px;
        }
        .header {
            padding-bottom: 15px;
        }
        .container{
            margin-bottom: 42px;
        }
        .desc {
            font-size: large;
            font-family: 'Poppins';
            font-weight: bold;
        }

        .myths {
            padding-top: 25px;
            padding-left: 12px;

        }

        .myth-box {
            background-color: #006d77;
            border-radius: 8px;
            color: #eee;
            padding-top: 10px;
        }

        .macroImg {
            border-radius: 40px;
        }

        .myth-title {
            font-family: 'Roboto';
            font-size: 25px;
            font-weight: 200;

        }

        .myth-desc {
            font-family: 'Poppins';
            font-weight: 300;
            font-size: 14px;
        }

        .next-lesson {
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px;
        font-size: 24px;
        color: #006d77;
        text-decoration: none;
        margin-top: 40px;
        font-family: 'Roboto';
        background-color: #eef4f7;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .next-lesson:hover {
        background-color: #ccc;
        text-decoration: underline;
    }
    .slider-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.summary-box {
    background-color: hsl(0, 0%, 100%, 0.5); 
    border-left: 5px solid #006d77; 
    padding: 15px 20px; 
    font-family: 'Poppins', sans-serif; 
    font-size: 15px; 
    font-weight: 300;
    color: #333; 
    margin: 20px 0; 
    line-height: 1.6; 
}

.summary-title {
    color: #006d77;
    font-weight: 400;
    font-family: 'Roboto';
}


</style>

<div class="container">
    <h1 class="lessonTitle">{{ lesson.name }}</h1>
    <div class="row header">
       
        <img src="{{ lesson.image }}" alt="{{ lesson.name }}" class="col-8 macroImg"> 
    </div>
    <div class="summary-box">
        <h6 class="summary-title"> SUMMARY</h6>
        {{ lesson.summary }}
    </div>
    <div class="contain">
    <button class="accordion">Why {{lesson.name}} Matter</button>
    <div class="panel">
        <p>{{lesson.summary}}</p>
    </div>
    </div>

    <button class="accordion">Sources of {{lesson.name}}</button>
    <div class="panel">
        <p>{{lesson.sources}}</p>
    </div>

    <button class="accordion">Optimal Intake</button>
    <div class="panel">
        <p>{{lesson.intake}}</p>
    </div>

    
    <div class="row myths">
        <div class="col-5 myth-box mr-3">
                <h3 class="myth-title">Common Myths:</h3>
                <p class="myth-desc"> {{lesson.myth}}</p>
        </div>

        <div class="col-6 myth-box">
            <h3 class="myth-title">Context:</h3>
            <p class="myth-desc"> {{lesson.context}}</p>
        </div>
    </div>
    {% if lesson.next_id %}
        <a href="{{ url_for('learn', lesson_id=lesson.next_id) }}" class="next-lesson">Next Lesson →</a>
    {% else %}
        <a href="/quiz/1" class="next-lesson">Lessons Completed! Take the Quiz →</a>
    {% endif %}
</div>
{% endblock %}